{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="width:750px;">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form) }}
                <ul class="errorLog">
                    {{ form_widget(form._token) }}
                    <div class="text-center">
                      <p><strong>Les champs avec une (*) sont obligatoires !</strong></p>
                    </div>
                    <div class="field">
                        <label for="fos_user_registration_form_nom">Nom(*)</label>
                        <input class="form-control" type="text" id="appbundle_ticket_lastName" name="appbundle_ticket[lastName]" required="required" value=""/>
                    </div>
                    <div class="field">
                        <label for="fos_user_registration_form_prenom">Prenom(*)</label>
                        <input class="form-control" type="text" id="appbundle_ticket_firstName" name="appbundle_ticket[firstName]" required="required" value=""/>
                    </div>
                    <div class="field">
                        <label for="fos_user_registration_form_societe">Societe(*)</label>
                        <input class="form-control" type="text" id="appbundle_ticket_society" name="appbundle_ticket[society]" required="required" value=""/>
                    </div>
                    
                    <br/>
                    <p class="text-center" style="font-size:20px;font-weight:600;">Jour 1 :</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day1transporttrain">Vous souhaitez bénéficier du transport de la gare SNCF de Lens à la Scène</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day1TransportTrain" name="appbundle_ticket[day1TransportTrain]" value=""/>
                    </div>
                    <br/>
                    <p>Matin 9h-12h : allocutions en salle à la Scène du Louvre-Lens</p>
                    <br/>
                    <p>Pique-nique :(*)</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day1Breakfast">Choix 1</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Breakfast1" name="appbundle_ticket[day1Breakfast]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day1Breakfast">Choix 2</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Breakfast2" name="appbundle_ticket[day1Breakfast]" value="2"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day1Breakfast">Choix 3</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Breakfast3" name="appbundle_ticket[day1Breakfast]" value="3"/>
                    </div>
                    <br/>
                    <p>Visite après-midi :(*)</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day1Visite">Choix 1</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Visite1" name="appbundle_ticket[day1Visite]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day1Visite">Choix 2</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Visite2" name="appbundle_ticket[day1Visite]" value="2"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day1Visite">Choix 3</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day1Visite3" name="appbundle_ticket[day1Visite]" value="3"/>
                    </div>
                    <br/>
                    <div class="field">
                        <label for="fos_user_registration_form_day1TransportBus">Vous souhaitez bénéficier des transports aller-retour vers les hébergements</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day1TransportBus" name="appbundle_ticket[day1TransportBus]" value=""/>
                    </div>
                    <br/>
                    <p class="text-center" style="font-size:20px;font-weight:600;">Jour 2 :</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day2TransportBus">Vous souhaitez bénéficier des transports aller-retour vers les hébergements</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day2TransportBus" name="appbundle_ticket[day2TransportBus]" value=""/>
                    </div>
                    <br/>
                    <p>Matin 9h-12h visite :(*)</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day2Visite">Choix 1</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Visite1" name="appbundle_ticket[day2Visite]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day2Visite">Choix 2</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Visite2" name="appbundle_ticket[day2Visite]" value="2"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day2Visite">Choix 3</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Visite3" name="appbundle_ticket[day2Visite]" value="3"/>
                    </div>
                    <br/>
                    <p>Pique-nique :(*)</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day2Breakfast">Choix 1</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Breakfast1" name="appbundle_ticket[day2Breakfast]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day2Breakfast">Choix 2</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Breakfast2" name="appbundle_ticket[day2Breakfast]" value="2"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_day2Breakfast">Choix 3</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Breakfast3" name="appbundle_ticket[day2Breakfast]" value="3"/>
                    </div>
                    <br/>
                    <p>Après-midi : allocutions en salle à La Scène du Louvre-Lens</p>
                    <div class="field">
                        <label for="fos_user_registration_form_day2TransportTrain">Vous souhaitez bénéficier du transport de la Scène à la gare SNCF de Lens</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day2TransportTrain" name="appbundle_ticket[day2TransportTrain]" value=""/>
                    </div>
                    <br/>
                    <div class="field">
                        <label for="fos_user_registration_form_day2Night">Soirée au Louvre-Lens (19h30-00 :30) : 40 €</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day2Night" name="appbundle_ticket[day2Night]" value=""/>
                    </div>
                    <br/>
                    <div class="field">
                        <label for="fos_user_registration_form_day2TransportBusNight">Vous souhaitez bénéficier les transports aller-retour vers les hébergements</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input class="form" type="checkbox" id="appbundle_ticket_day2TransportBusNight" name="appbundle_ticket[day2TransportBusNight]" value=""/>
                    </div>
                    <br/>
                    <p class="text-center" style="font-size:20px;font-weight:600;">En option :</p>
                    <br/>
                    <p>VISITES SUPPLEMENTAIRES</p>
                    <br/>
                    <p>Matin visite :</p>
                    <div class="field">
                        <label for="fos_user_registration_form_optionVisite">Choix 1</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionVisite1" name="appbundle_ticket[optionVisite]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_optionVisite">Choix 2</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionVisite2" name="appbundle_ticket[optionVisite]" value="2"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_optionVisite">Choix 3</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionVisite3" name="appbundle_ticket[optionVisite]" value="3"/>
                    </div>
                    <br/>
                    <p>Entrée à l’exposition temporaire du Louvre-Lens (9 €)</p>
                    <div class="field">
                        <label for="appbundle_ticket_optionExpo">Samedi 8 juin 2019</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionExpo1" name="appbundle_ticket[optionExpo]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="appbundle_ticket_optionExpo">Dimanche 9 juin 2019</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionExpo2" name="appbundle_ticket[optionExpo]" value="2"/>
                    </div>
                    <br/>
                    <p>Visite guidée Lens, mine d’Art déco à 14h30 (6 €)</p>
                    <div class="field">
                        <label for="fos_user_registration_form_optionArtDeco">Samedi 8 juin 2019</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionArtDeco1" name="appbundle_ticket[optionArtDeco]" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="fos_user_registration_form_optionArtDeco">Dimanche 9 juin 2019</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionArtDeco2" name="appbundle_ticket[optionArtDeco]" value="2"/>
                    </div>
                    <br/>
                    <div class="field">
                        <label for="fos_user_registration_form_optionDecouverte">Visite guidée A la découverte des Terrils, trésors du Patrimoine mondial :<br/>
                            Dimanche 9 juin à 14h30 (9 €)</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionDecouverte" name="appbundle_ticket[optionDecouverte]" value=""/>
                    </div>
                    <br/>
                    <div class="field">
                        <label for="fos_user_registration_form_day1optionGrandSite">Visite guidée Notre-Dame-de-Lorette, grand site de la Mémoire :<br/>
                            dimanche 9 juin à 15h (6 €)</label>
                        <input class="form" type="checkbox" id="appbundle_ticket_optionGrandSite" name="appbundle_ticket[optionGrandSite]" value=""/>
                    </div>
                    <div class="col-sm-12" style="margin-bottom:0px;margin-top:70px;">
                        <div class="border-form-prix">
                            <p class="text-center" style="font-size:35px;margin-bottom:10px;">PRIX :
                                <span id="prixreservation">300</span>€</p>
                        </div>
                    </div>
                    <input type="submit" name="add" class="btn btn-primary float-left" style="margin-top:30px;" value="Ajouter une réservation"/>
                    <input type="submit" name="next" class="btn btn-primary float-right" style="margin-top:30px;" value="Suivant"/>
                </form>
            </div>
        </div>
    </div>
<script src="{{ asset('js/ticket.js') }}"></script>
{% endblock %}
