{% extends 'base.html.twig' %}

{% block body %}
<div>
    <div class="container" style="margin-top:100px;">
        <div class="row justify-content-between" style="height:250px;min-height:250px;">
            <div class="col-md-4 col-xl-3 d-flex flex-column justify-content-around align-items-center border-column-admin"><a class="btn btn-primary" role="button" href="{{ path('admin_colloque') }}">Colloque</a>
                <p class="text-center" style="margin:0px;">Toutes les informations des réservations<br>concernant le colloque Euralens 2019&nbsp;<br></p>
            </div>
            <div class="col-md-4 col-xl-3 offset-xl-0 d-flex flex-column justify-content-around align-items-center border-column-admin"><a class="btn btn-primary" role="button" href="{{ path('admin_utilisateurs') }}">Utilisateurs</a>
                <p class="text-center" style="margin:0px;">Toutes les informations des utilisateurs<br>concernant le colloque Euralens 2019&nbsp;<br></p>
            </div>
            <div class="col-md-4 col-xl-3 offset-xl-0 d-flex flex-column justify-content-around align-items-center border-column-admin"><a class="btn btn-primary" role="button" href="{{ path('admin_paiement') }}">Paiement et Verification</a>
                <p class="text-center" style="margin:0px;">Toutes les informations des paiements<br>concernant les réservations du colloque Euralens 2019<br></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}